html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: 100vh;
    flex-direction: column;
}

div {
    margin: 20px;
}

