html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #bbb;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-height: 100vh;
    flex-direction: column;
}

div {
    margin: 20px 10px;
}

#play-btns button {
    margin: 0 0.5rem;
}

.score {
    display: inline;
}

